<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>
    <!-- Axes -->
    <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/>

    <node pkg="learning_nav" type="turtle_tf_broadcast" 
                args="turtle1" name="turtle1_tf_broadcaster" />
    <node pkg="learning_nav" type="turtle_tf_broadcast" 
                args="turtle2" name="turtle2_tf_broadcaster" />

    <node pkg="learning_nav" type="turtle_tf_listener" name="listener" />
    <node pkg="learning_nav" type="frame_tf_broadcast" name="broadcaster_frame" />

</launch>